{% extends "styledbased.html" %}
{% load i18n static %}

{% block content %}
  <section class="home">
    <section class="options">
      <div class="options">
        {% if request.user.is_admin %}
          <a id="save-tree" href="#" class="circle red">
            <img src="{% static 'images/save.png' %}">
          </a>
        {% endif %}
        <a href="{% url 'translations:index' %}" class="circle green">
          <img src="{% static 'images/refresh-icon.png' %}">
        </a>
      </div>
    </section>
    <section class="translation-groups">

      <fieldset {% if languages|length == 1 %}style="display: none;"{% endif %}>
        <select name="trans-group-lang" id="translation-groups-language">
          {% for lang_code, lang_name in languages %}
            <option value="{{ lang_code }}" data-class="flag-{{ lang_code }}"{% if lang_code == lang %}
                    selected="selected"{% endif %}>{{ lang_name }}</option>
          {% endfor %}
        </select>
      </fieldset>
      <div class="tree" id="grouptree" data-url="{% url 'translations:tree' %}?lang={{ lang }}"></div>
    </section>
    <section class="translation">
      <div class="translation-wrapper">

      </div>
    </section>
  </section>


{% endblock content %}

{% block js %}
  <script>
    $(function () {
      var $tree = $('#grouptree');

      $tree.tree({
        dragAndDrop: true,
        onCanMoveTo: function (moved_node, target_node, position) {
          console.log('onCanMoveTo');
          {#console.log('moved_node', moved_node);#}
          {#console.log('target_node', target_node);#}
          {#console.log('position', position);#}

          if (target_node.type === 'group' && target_node.is_open !== true) {
            return false;
          }

          if (target_node.type === 'translation' && position === 'inside') {
            return false;
          }

          if (target_node.is_menu) {
            // Example: can move inside menu, not before or after
            return (position === 'inside');
          } else {
            return true;
          }
        },
        onCreateLi: function (node, $li) {
          console.log('onCreateLi');
          console.log('node', node);
          console.log('$li', $li);
          $li.attr('node-id', node.id);
          $li.attr('node-type', node.type);
          if (node.type === 'translation') {
            $li.attr('node-status', node.status);
          }

        }
      });




      $tree.on(
              'tree.select',
              function (event) {
                if (event.node) {
                  // node was selected
                  var $element = $(event.node.element);
                  var node_id = $element.attr('node-id');
                  var node_type = $element.attr('node-type');

                  var url = null;
                  if (node_type === 'translation') {
                    url = "{% url 'translations:translation_details' %}";
                  } else if(node_type === 'group') {
                    url = "{% url 'translations:translation_group_details' %}";
                  }
                  if (url !== null) {
                    $("div.translation-wrapper").html('');
                    $.get(url + "?node_id=" + node_id, function (data) {
                      $("div.translation-wrapper").html(data);
                    });
                  }

                  console.log('node_id', node_id);

                } else {
                  console.log('DESELECT');
                  $("div.translation-wrapper").html('');
                  // event.node is null
                  // a node was deselected
                  // e.previous_node contains the deselected node
                }
              }
      );


      $("#save-tree").click(function (event) {
        event.preventDefault();
        var $success = $('<div class="alert-box success">{% trans "Successfully saved tree." %}</div>');
        $("#alerts").prepend($success);
        $success.fadeIn(300).delay(1500).fadeOut(400);
      });
    });


    $(function () {
      $.widget("custom.iconselectmenu", $.ui.selectmenu, {
        _renderItem: function (ul, item) {
          var li = $("<li>"),
                  wrapper = $("<div>", {text: item.label});

          if (item.disabled) {
            li.addClass("ui-state-disabled");
          }

          $("<span>", {
            style: item.element.attr("data-style"),
            "class": "ui-icon " + item.element.attr("data-class")
          })
                  .appendTo(wrapper);

          return li.append(wrapper).appendTo(ul);
        }
      });

      $("#translation-groups-language")
              .iconselectmenu({
                change: function (event, data) {
                  console.log('event', event);
                  console.log('data', data);
                  console.log('data.item.value', data.item.value);

                  window.location.href = "?lang=" + data.item.value;
                }
              })
              .iconselectmenu("menuWidget")
              .addClass("ui-menu-icons");

      $("#translation-write-language")
              .iconselectmenu()
              .iconselectmenu("menuWidget")
              .addClass("ui-menu-icons");

      $("#translation-read-language")
              .iconselectmenu()
              .iconselectmenu("menuWidget")
              .addClass("ui-menu-icons");


      $("input[type=radio]").checkboxradio({
        icon: false
      });


    });
  </script>
{% endblock js %}
