{% load i18n %}
<h3 class="translation-header">{{ group.name }}</h3>
<br>


<div id="canvas-holder" style="width: 300px;">
  <canvas id="chart-area" width="300" height="300"></canvas>
  <div id="chartjs-tooltip">
    <table></table>
  </div>
</div>

<table class="datatable">
  <thead>
  <tr>
    <th>{% trans "Key" %}</th>
    <th>{% trans "Value" %}</th>
    <th>{% trans "State" %}</th>
  </tr>
  </thead>
</table>

<script>

  chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };

  var statusColors = {
    NEW: '#2FDAF7',
    TODO: '#FFE300',
    READY_TO_REVIEW: '#FF8F00',
    NEEDS_WORK: '#F7422F',
    ACCEPTED: '#3FF72F'
  };

  var statusLabels = {
    NEW: '{% trans "New" %}',
    TODO: '{% trans "To do" %}',
    READY_TO_REVIEW: '{% trans "Ready to review" %}',
    NEEDS_WORK: '{% trans "Needs work" %}',
    ACCEPTED: '{% trans "Accepted" %}'
  };

  var chartData = [
    {% for obj in states_counts %}
      {{ obj.total }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];
  var chartBackgroundColors = [
    {% for obj in states_counts %}
      statusColors.{{ obj.state }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];
  var chartLabels = [
    {% for obj in states_counts %}
      statusLabels.{{ obj.state }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];

  Chart.defaults.global.tooltips.custom = function (tooltip) {
    // Tooltip Element
    var tooltipEl = document.getElementById('chartjs-tooltip');

    // Hide if no tooltip
    if (tooltip.opacity === 0) {
      tooltipEl.style.opacity = 0;
      return;
    }

    // Set caret Position
    tooltipEl.classList.remove('above', 'below', 'no-transform');
    if (tooltip.yAlign) {
      tooltipEl.classList.add(tooltip.yAlign);
    } else {
      tooltipEl.classList.add('no-transform');
    }

    function getBody(bodyItem) {
      return bodyItem.lines;
    }

    // Set Text
    if (tooltip.body) {
      var titleLines = tooltip.title || [];
      var bodyLines = tooltip.body.map(getBody);

      var innerHtml = '<thead>';

      titleLines.forEach(function (title) {
        innerHtml += '<tr><th>' + title + '</th></tr>';
      });
      innerHtml += '</thead><tbody>';

      bodyLines.forEach(function (body, i) {
        var colors = tooltip.labelColors[i];
        var style = 'background:' + colors.backgroundColor;
        style += '; border-color:' + colors.borderColor;
        style += '; border-width: 2px';
        var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
        innerHtml += '<tr><td>' + span + body + '</td></tr>';
      });
      innerHtml += '</tbody>';

      var tableRoot = tooltipEl.querySelector('table');
      tableRoot.innerHTML = innerHtml;
    }

    var positionY = this._chart.canvas.offsetTop;
    var positionX = this._chart.canvas.offsetLeft;

    // Display, position, and set styles for font
    tooltipEl.style.opacity = 1;
    tooltipEl.style.left = positionX + tooltip.caretX + 'px';
    tooltipEl.style.top = positionY + tooltip.caretY + 'px';
    tooltipEl.style.fontFamily = tooltip._bodyFontFamily;
    tooltipEl.style.fontSize = tooltip.bodyFontSize;
    tooltipEl.style.fontStyle = tooltip._bodyFontStyle;
    tooltipEl.style.padding = tooltip.yPadding + 'px ' + tooltip.xPadding + 'px';
  };

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: chartData,
        backgroundColor: chartBackgroundColors,
      }],
      labels: chartLabels
    },
    options: {
      responsive: true,
      legend: {
        display: false
      },
      tooltips: {
        enabled: false,
      }
    }
  };



  {% if states_counts %}
    var ctx = document.getElementById('chart-area').getContext('2d');
    window.myPie = new Chart(ctx, config);

    $(document).ready(function () {
      var oTable = $('.datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'translations:translation_list_json' %}?lang={{ lang }}&group={{ group.id }}",
        "info":     false,
        "lengthChange": false,
        "pageLength": 25,
        "searchDelay": 400,
      });
    });
  {% endif %}
</script>
