{% extends "styledbased.html" %}
{% load i18n %}

{% block content %}
  <br>
  <br>
  <table class="generic">
    <thead>
    <tr>
      <th>{% trans "Username" %}</th>
      <th>{% trans "Role" %}</th>
{#      <th>{% trans "Last activity" %}</th>#}
      <th>{% trans "Activated" %}</th>
      <th>{% trans "Activation" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in editable_users %}

      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ user.username }}</td>
        <td>{{ user.get_role }}</td>
{#        <td>{{ user.last_active_at }}</td>#}
        <td>{% if user.is_active %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
        <td style="text-align: center;">
          {% if user.is_active %}
            <p class="link" data-href="{% url 'translations:user_activation' user_id=user.id activate=0 %}">{% trans "Deactivate" %}</p>
          {% else %}
            <p class="link" data-href="{% url 'translations:user_activation' user_id=user.id activate=1 %}">{% trans "Activate" %}</p>
          {% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <br>
  <br>
  <p style="text-align: center;"><a style="color: white;" href="{% url 'users:create_user' %}">Add new user!</a></p>
{% endblock content %}

{% block js %}
<script>
$("p.link").click(function () {
  var $this = $(this);
  var url = $this.attr('data-href');
  $.post(url, function (response) {
    window.location.replace("{% url 'translations:user_list' %}");
  });
});
</script>
{% endblock %}
